<div class="home-container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-xl-3 col-lg-4">
                <div class="text-center">
                    <img alt="Angular" class="img-fluid home-logo" src="assets/img/maps-icon.png" />
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 home-text">
                <h1 class="home-text-big" [innerHTML]="'dashboard.TITLE' | translate">Geology Monitoring</h1>
                <p class="lead">
                    Geologists are dependent on support from numerous software applications for their daily work. Besides
                    the classic Office applications, a multitude of specialized applications enable the useful analysis
                    and representation of geological data sets.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Drilling</h3>
                </div>
                <div class="card-body">
                    Drilling data logger that can interface with SGS Genesis.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Geo-sciences</h3>
                </div>
                <div class="card-body">
                    Geo-sciences Software platform (data management, display and process).
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Geostatistical</h3>
                </div>
                <div class="card-body">
                    Geostatistical modeling and simulation.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Geo Trace</h3>
                </div>
                <div class="card-body">
                    Tracer modeling.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Geo modeler</h3>
                </div>
                <div class="card-body">
                    Geological modelling from cross sections.
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card b">
                <div class="card-header">
                    <h3>Style Guide</h3>
                </div>
                <div class="card-body">
                    Better practices for Code organization and Project structure based on the official Angular style guide.
                </div>
            </div>
        </div>
    </div>
</div>
