<div class="wrapper">
    <div class="block-center mt-4 wd-xl">
        <!-- START card-->
        <div class="card card-flat">
            <div class="card-header text-center bg-dark">
              <a href="#">
                <img class="block-center rounded" src="assets/img/map-logo.png" alt="Image" />
              </a>&nbsp;
              <span class="auth-title">{{app.name}}</span>
            </div>
            <div class="card-body">
                <p class="text-center py-2">SIGNUP TO GET INSTANT ACCESS</p>
                <form [formGroup]="registerForm" class="form-validate mb-3" role="form" name="registerForm"
                      novalidate="" (submit)="submitForm($event, registerForm.value)">
                    <div class="form-group">
                        <label class="text-muted mb-1">Email address</label>
                        <div class="input-group with-focus">
                            <input class="form-control border-right-0" type="email" name="account_email" placeholder="Enter email" autocomplete="off" formControlName="email" required="" />
                            <div class="input-group-append">
                                <span class="input-group-text text-muted bg-transparent border-left-0">
                                    <em class="fa fa-envelope"></em>
                                </span>
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="form['email'].hasError('required') && (form['email'].dirty || form['email'].touched)">This field is required</div>
                        <div class="text-danger" *ngIf="form['email'].hasError('email') && (form['email'].dirty || form['email'].touched)">This field must be a valid email address</div>
                    </div>
                    <div formGroupName="passwordGroup">
                        <div class="form-group">
                            <label class="text-muted mb-1">Password</label>
                            <div class="input-group with-focus">
                                <input class="form-control border-right-0" id="id-password" type="password"
                                    placeholder="password"
                                    name="password" formControlName="password"
                                    [formControl]="registerForm.get('passwordGroup.password')" />
                                <div class="input-group-append">
                                    <span class="input-group-text text-muted bg-transparent border-left-0">
                                        <em class="fa fa-lock"></em>
                                    </span>
                                </div>
                            </div>
                            <div class="text-danger" *ngIf="registerForm.get('passwordGroup.password').hasError('required') && (registerForm.get('passwordGroup.password').dirty || registerForm.get('passwordGroup.password').touched)">This field is required</div>
                            <div class="text-danger" *ngIf="registerForm.get('passwordGroup.password').hasError('pattern') && (registerForm.get('passwordGroup.password').dirty || registerForm.get('passwordGroup.password').touched)">Input should match 'a-zA-Z0-9' and 6-10 length</div>
                        </div>
                        <div class="form-group">
                            <label class="text-muted mb-1">Retype Password</label>
                            <div class="input-group with-focus">
                                <input class="form-control border-right-0" type="password" name="confirmPassword"
                                placeholder="Retype Password"
                                formControlName="confirmPassword"
                                [formControl]="registerForm.get('passwordGroup.confirmPassword')" />
                                <div class="input-group-append">
                                    <span class="input-group-text text-muted bg-transparent border-left-0">
                                        <em class="fa fa-lock"></em>
                                    </span>
                                </div>
                            </div>
                            <div class="text-danger" *ngIf="registerForm.get('passwordGroup.confirmPassword').hasError('required') && (registerForm.get('passwordGroup.confirmPassword').dirty || registerForm.get('passwordGroup.confirmPassword').touched)">This field is required</div>
                            <div class="text-danger" *ngIf="registerForm.get('passwordGroup.confirmPassword').hasError('equalTo')">Password does Not match</div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="checkbox c-checkbox float-left mt0">
                            <label>
                                <input type="checkbox" required="" name="account_agreed" formControlName="accountagreed" />
                                <span class="fa fa-check"></span>I agree with the
                                <a href="#">terms</a>
                            </label>
                        </div>
                    </div>
                    <span class="text-danger" *ngIf="form['accountagreed'].hasError('required') && (form['accountagreed'].dirty || form['accountagreed'].touched)">You must agree the terms</span>
                    <button class="btn btn-block btn-primary mt-3" type="submit">Create account</button>
                    <img *ngIf="loading" alt="" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </form>
                <p class="pt-3 text-center">Have an account?</p>
                <a class="btn btn-block btn-secondary" [routerLink]="'/login'">Signup</a>
            </div>
        </div>
        <!-- END card-->
        <div class="p-3 text-center">
            <span>&copy;</span>
            <span>{{ settings.getAppSetting('year') }}</span>
            <span class="mx-2">-</span>
            <span>{{ settings.getAppSetting('name') }}</span>
            <br/>
            <span>{{ settings.getAppSetting('description') }}</span>
        </div>
    </div>
</div>
